<div class="center">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Registrar</mat-card-title>
            <mat-card-subtitle>Persona</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="personaModel.NOMBRE" placeholder="Ingresar Nombre" name="Nombres">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Apellidos</mat-label>
                <input matInput [(ngModel)]="personaModel.APELLIDOS" placeholder="Ingresar Apellidos" name="Apellidos">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>DNI</mat-label>
                <input matInput [(ngModel)]="personaModel.DNI" placeholder="Ingresar DNI" name="dni">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput [(ngModel)]="personaModel.FEC_NACIMIENTO" placeholder="Ingresar Fecha de Nacimiento" name="Fecha Nacimiento">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Celular</mat-label>
                <input matInput [(ngModel)]="personaModel.CELULAR" placeholder="Ingresar Celular" name="Celular">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Correo Electronico</mat-label>
                <input matInput [(ngModel)]="personaModel.CORREO" placeholder="Ingresar Correo" name="Correo">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput [(ngModel)]="personaModel.USUARIO" placeholder="Ingresar Usuario" name="Usuario">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Clave</mat-label>
                <input matInput [(ngModel)]="personaModel.CLAVE" placeholder="Ingresar Clave" name="Clave">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Estado Civil</mat-label>
                <input matInput [(ngModel)]="personaModel.IDESTADO_CIVIL" placeholder="Ingresar Estado Civil" name="Estado Civil">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="create()">Registrar</button>
            <a mat-raised-button routerLink="/listar" color="warn">Cancelar</a>
        </mat-card-actions>
    </mat-card>

    <!---->
</div>